.comp-name {
  float: left;
  padding-right: 1em
}

.header {
  display: flex;
  margin-left: 1em
}

body {
  background-color: #1fc8db;
  /* background-image: linear-gradient(141deg, #9fb8ad 0%, #0f3f44 51%, #2cb5e8 75%); */
}

.container {
  display: flex;
  background-color: #0f3f44;
  background-image: linear-gradient(141deg, #8dbfc7 2%, #0f3f44 100%);
  height: 40em;
  min-width: 100%;
  flex-flow: column;
}

.tag-line {
  font-weight: bold;
  font-size: 6em;
  padding-top: 1em;
  color: #ffffffcc;
}

.menu {
  align-self: center;
  padding-bottom: 1em;
  font-size: 1.8em;
}

.creater {
  margin-left: 1em
}

.rightline {
  background-color: #1fc8db;
  font-size: 5em;
  position: absolute;
  top: 7.6em;
  width: 50%;
  right: 0;
  height: 1em;
  transform: rotate(-2deg);
}

.leftline {
  height: 1em;
  background-color: #1fc8db;
  transform: rotate(2deg);
  font-size: 5em;
  position: absolute;
  top: 7.6em;
  width: 50%;
}

.bio_container {
  display: flex;
  flex-direction: column;
}

.bio {
  font-size: 4em;
  color: #ffffffcc;
  flex-flow: wrap;
  align-self: flex-end;
  justify-self: center;
  width: 10em;
  z-index: 1;
  margin-right: .5em;
}

.profile {
  margin-top: 5.1em;
  z-index: 7;
  height: 99em;
  display: flex;
  flex-direction: column;
  background-image: url('pictures/des3.jpg');
  background-repeat: no-repeat;
  background-size: 101% auto;
}

.overlay {
  background-color: black;
  width: 40em;
  height: 58em;
  float: right;
  top: 46em;
  right: 2em;
  display: flex;
  opacity: .4;
  position: absolute;
}

.prro {
  display: flex;
  background-color: green;
  width: 50em;
  height: 46em;
  align-self: center;
}