.comp-name {
  float: left;
  padding-right: 1em
}

.header {
  display: flex;
  margin-left: 1em
}

body {
  background-color: #1fc8db;
  /* background-image: linear-gradient(141deg, #9fb8ad 0%, #0f3f44 51%, #2cb5e8 75%); */
}

.container {
  display: flex;
  background-color: #0f3f44;
  background-image: linear-gradient(141deg, #8dbfc7 2%, #0f3f44 100%);
  height: 40em;
  min-width: 100%;
  flex-flow: column;
}

.tag-line {
  font-weight: bold;
  font-size: 6em;
  padding-top: 1em;
  color: #ffffffcc;
}

.menu {
  align-self: center;
  padding-bottom: 1em;
  font-size: 1.8em;
}

.creater {
  margin-left: 1em
}

.rightline {
  background-color: #1fc8db;
  font-size: 5em;
  position: absolute;
  top: 7.8em;
  width: 50%;
  right: 0;
  height: 1em;
  transform: rotate(-2deg);
}

.leftline {
  height: 1em;
  background-color: #1fc8db;
  transform: rotate(2deg);
  font-size: 5em;
  position: absolute;
  top: 7.8em;
  width: 50%;
}

.profile {
  margin-top: 5.1em;
  z-index: 7;
  width: 100%;
  height: 99em;
  background-image: url('pictures/desk.jpg');
  background-size: 100% auto;
}